.background {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Component/Assets/bgimage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fromcard{
    border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}